<!doctype html>
<html>
    <body>
        <form action="/login">
            <input type="hidden" value="{{.}}" name="service">
            <input placeholder="username" name="username">
            <input type="password" type="password" name="password">
            <button>Login</button>
        </form>
    </body>
</html>